@page "/arrivals"

<PageTitle>Arrivals</PageTitle>

@using MainLine.Data
@using MainLine.Data.Services
@inject IArrivalService _arrivalService;

<div class="container">
    
    <h1>Arrivals 🚉</h1>
    <br />

    <div class="input-group mb-3">
        <button class="btn btn-primary" type="button" id="arrivals-btn" @onclick="GetArrivals">Find Arrivals</button>
        @if (stations?.Any() is true)
        {
            <button class="btn btn-outline-primary" type="button" id="clear-btn" @onclick="ClearResults">Clear Results</button>
        }
        <input type="text" class="form-control" placeholder="Station/Map ID (ie. 41360)" aria-label="Station/Map ID" aria-describedby="arrivals-btn" @bind="userInput" />
    </div>

    @if (stations?.Any() is true)
    {
        foreach (var station in stations)
        {
            <hr />
            <StationDetail Station="station" />            
        }
    }
    else
    {
        @if (isLoading)
        {
            <p>
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
            </p>
        }
        else
        {
            <p>No arrivals to show. Try entering a Station ID.</p>
        }
    }

    @if (lastUpdated != DateTime.MinValue)
    {
        <small class="text text-small">Last Updated: @lastUpdated.ToShortDateString() @lastUpdated.ToShortTimeString()</small>
    }

</div>

@code {
    private IEnumerable<Station> stations;
    private DateTime lastUpdated = DateTime.MinValue;
    private string userInput = string.Empty;
    private bool isLoading;

    private async Task GetArrivals()
    {
        isLoading = true;
        stations = Enumerable.Empty<Station>();
        stations = await _arrivalService.GetMappedArrivalTimeByStationId(userInput);
        lastUpdated = DateTime.Now;
        isLoading = false;
        StateHasChanged();
    }

    private void ClearResults()
    {
        userInput = string.Empty;
        stations = Enumerable.Empty<Station>();
        lastUpdated = DateTime.MinValue;
        isLoading = false;
        StateHasChanged();
    }
}
