@page "/station-detail"

<PageTitle>StationDetail</PageTitle>

@using MainLine.Data;

<div class="row">
        <h1 class="px-1">@($"Arrivals for {Station.Name}") <small class="text text-faded">@($"({@Station.Id})")</small></h1>
        @foreach (var stop in Station.Stops)
        {
            <div class="col d-flex flex-column px-0">
                <StopDetail Stop="stop" />
            </div>
        }
</div>

@code {
    [Parameter]
    public Station Station { get; set; } = new();
}
