@page "/station-detail"

<PageTitle>StationDetail</PageTitle>

@using MainLine.Data;
@using MainLine.Data.Models

<style scoped>
    .stop-row {
        padding: 10px 10px 5px 10px;
    }
</style>

<div class="row">
        <h1 class="px-1">@($"Arrivals for {Station.Name}") <small class="text text-faded">@($"({Station.Id})")</small></h1>
        @foreach (var stop in Station.Stops)
        {
            <div class="col d-flex flex-column px-0">
                <div class="row mx-1">
                    <p class="mb-0 px-0">@stop.Description <small class="text text-faded">(@stop.Id)</small></p>
                    @foreach (var arrival in stop.Arrivals)
                    {
                        <ArrivalDetail Arrival="arrival" />
                    }
                </div>
            </div>
        }
</div>

@code {
    [Parameter]
    public Station Station { get; set; } = new();
}
