@page "/stop-detail"

<PageTitle>StopDetail</PageTitle>

@using MainLine.Data;

<style scoped>
    .stop-row {
        padding: 10px 10px 5px 10px;
    }
</style>

<div class="row mx-1">
    <p class="mb-0 px-0">@Stop.Description <small class="text text-faded">(@Stop.Id)</small></p>
    @foreach (var arrival in Stop.Arrivals)
    {
        <ArrivalDetail Arrival="arrival" />
    }
</div>

@code {
    [Parameter]
    public Stop Stop { get; set; } = new();
}
